<!-- <div class="menu">
  <div class="topnav">
    <div class="text">
    <a> Home  </a>
    <a> About  </a>
    <a> Contact  </a>
  </div>
  </div>
</div> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebDesignMagic</a>
      </div>
      <ul class="nav navbar-nav" ngFor>
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"></a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
        
      </ul>
    </div>
  </nav>

   <ul *ngFor="let user of test">
    <li>{{user.id}}</li>
    <li>{{user.title}}</li>
    <li>{{user.completed}}</li>
   </ul>
  <form (submit) = "onSubmit() ">
  <div class="inputs">
    <div class="form-group">
      <label for="control-label col-sm-2">title</label>
      <div class="col-sm-6"><input type="text" id="title" class="form-control" name="title"  [(ngModel)]="product.title" ></div>
    </div>
    <div class="form-group">
      <label for="control-label col-sm-2">completed</label>
      <div class="col-sm-6"><input type="completed" id="completed" class="form-control"  name="completed"  [(ngModel)]="product.completed"></div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
  </form>