
/* .menu{
    width:100%;
    height:150px;
    background-color:deepskyblue;
}
.topnav{
    color:black;
    font-family: 'Times New Roman';    
    position: relative;

}
.text{
    font-family: 'Times New Roman'; 
    font-size: 18px; 
    padding: 60px;
} */

.inputs{
    margin-top:20px;
}